@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.btn {
    cursor: pointer;
}

.text-hidden {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-quantity,2);
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}

.not-select-text {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}